# Dependencies
node_modules/

# Database Data (Add all data folders shown in your logs)
server/percona_cluster/percona_data/
server/percona_cluster/percona_2_data/
server/percona_cluster/percona_3_data/

# System files
*.sock
*.pid
server/steve-api/tmp_bin
διπλωματικές μαμαλή/IOANNIS_DELIGIANNIS_151102_DIPLOMA_THESIS (1).pdf
διπλωματικές μαμαλή/NIKOLAOS_PATERAKIS_THESIS_DOCUMENTATION (1).pdf
διπλωματικές μαμαλή/ΒΑΣΙΛΑΚΟΣ_ΘΕΜΙΣΤΟΚΛΗΣ_19390031_ΔΙΠΛΩΜΑΤΙΚΗ fin.pdf
διπλωματικές μαμαλή/ΔΙΠΛΩΜΑΤΙΚΗ_ΕΡΓΑΣΙΑ_ΚΩΝΣΤΑΝΤΙΝΟΣ_ΧΟΥΤΙΟΥΔΗΣ_141296 - fin.pdf
διπλωματικές μαμαλή/ΔΙΠΛΩΜΑΤΙΚΗ_ΠΑΠΑΓΕΩΡΓΙΟΥ_ΑΝΑΣΤΑΣΙΟΣ.pdf
διπλωματικές μαμαλή/ΘΕΟΔΩΡΟΠΟΥΛΟΣ-ΚΑΡΑΓΙΑΝΝΑΚΗΣ-ΔΙΠΛΩΜΑΤΙΚΗ (1).pdf
διπλωματικές μαμαλή/.nextcloudsync.log
thesis/.~lock.διπλωματικη.odt#
server/dataset/dataset/yolov8n.pt
